@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-md;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }
}
.chat-box {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.chat-box.open {
  transform: translateX(0);
}


